---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "./Main.astro";
import Layout from "./Layout.astro";
import LinkButton from "@/components/LinkButton.astro";
import IconGitHub from "@/assets/icons/IconGitHub.svg";
import IconBrandX from "@/assets/icons/IconBrandX.svg";
import IconLinkedin from "@/assets/icons/IconLinkedin.svg";
import IconMastodon from "@/assets/icons/IconMastodon.svg";
import { SITE } from "@/config";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`} noindex={true}>
  <Header />
  <Main>
    <div class="flex flex-col items-center gap-4">
      <img src="/favicon.png" alt={SITE.author} class="size-24 rounded-full" />
      <h1 class="text-xl font-semibold">{SITE.author}</h1>
      <div class="flex gap-2">
        <LinkButton
          href="https://github.com/h-michael"
          class="p-2 hover:rotate-6"
          title={`${SITE.author} on GitHub`}
        >
          <IconGitHub
            class="size-6 fill-transparent stroke-current stroke-2 opacity-90"
          />
          <span class="sr-only">{SITE.author} on GitHub</span>
        </LinkButton>
        <LinkButton
          href="https://twitter.com/h_michael_z"
          class="p-2 hover:rotate-6"
          title={`${SITE.author} on X`}
        >
          <IconBrandX
            class="size-6 fill-transparent stroke-current stroke-2 opacity-90"
          />
          <span class="sr-only">{SITE.author} on X</span>
        </LinkButton>
        <LinkButton
          href="https://mstdn.jp/@h_micheal"
          class="p-2 hover:rotate-6"
          title={`${SITE.author} on Mastodon`}
        >
          <IconMastodon
            class="size-6 fill-transparent stroke-current stroke-2 opacity-90"
          />
          <span class="sr-only">{SITE.author} on Mastodon</span>
        </LinkButton>
        <LinkButton
          href="https://www.linkedin.com/in/hirokazu-h-18778a84/"
          class="p-2 hover:rotate-6"
          title={`${SITE.author} on LinkedIn`}
        >
          <IconLinkedin
            class="size-6 fill-transparent stroke-current stroke-2 opacity-90"
          />
          <span class="sr-only">{SITE.author} on LinkedIn</span>
        </LinkButton>
      </div>
    </div>
  </Main>
  <Footer />
</Layout>
